EMAIL_SENDER=karmajango@gmail.com
EMAIL_PASSWORD=sazsegenlrdbwftui

JWT_SALT_KEY_ADMIN= hellohowareyouwhatareyoudoinghowmuchyoulearn
JWT_SALT_KEY_BUYER= helloiamgoodiamdoingfullstackdevelopercourceinearllyc


RPKEYID = rzp_test_uQleAK0nEbYi5P
RPSECRETKEY = XVOI2rbJC2Y2R2Bm9qa2VqBD
